.fullscreen-img {
    height: 100vh;
    margin-top: -64px;
    overflow: hidden;
    &__container {
        height: 100%;
    }
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}