.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -64px;
    &__content {
    }
    
    &__title {
        font-weight: 500;
        color: #344054;
        margin: 0;
        text-align: center;
    }
    
    &__subtitle {
        font-weight: 400;
        color: #475467;
        margin-top: 24px;
        text-align: center;
    }

    &__gradient {
        background: linear-gradient(0deg,rgba(52, 64, 84, 1) 12%, rgba(15, 88, 132, 1) 24%, rgba(43, 186, 196, 1) 44%, rgba(1, 109, 207, 1) 60%, rgba(2, 150, 224, 1) 74%, rgba(52, 64, 84, 1) 91%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline;
        animation: heroGradient 8s ease-out 2s;
        background-size: 100% 700%;
        background-position: 0 0;
    }
    
}

